<div th:fragment="navbar">
<!-- NAVBAR - https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="http://localhost:8080">
        <img src="images/NOE_LOGO.png" height="120" width="100" th:src="@{images/NOE_LOGO.png}" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/hotelform">Hotels hinzufügen</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/hotelliste">Hotelliste</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/occupancy">Belegung</a>
            </li>
        </ul>

        <ul class="form-inline my-2 my-lg-0">

            <a href="http://localhost:8080/help" class="btn btn-outline-info" role="button"
            aria-pressed="true">Help</a>
            
        </ul>
    </div>
</nav>

</div>