h1 {
    color: #55ff1f;
}

h2 {
    color: #FF0000;
}

h3  {
    color: aqua;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

.nav-link {
    cursor: pointer;
    font-size: 24px;
}

.nav-link:active
.nav-link:hover {
    color: dodgerblue !important;
}

.pages {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

