<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments/header :: header"></div>

<body>

<div th:replace="fragments/navbar :: navbar"></div>


    </div>
</nav>
<form style="width: 500px; margin: auto" th:action="@{/backup}" method="post">
    <p th:text="'To which Emailaddress?'"/>  <input class="form-control" type="text" th:value="*{emailaddress}"  th:name="emailaddress"/></p>

    <button type="submit" class="btn btn-primary" th:text="#{submit}"/></button>
    <button type="reset" class="btn btn-secondary" th:text="#{reset}"/></button>

</form>

<div th:replace="fragments/footer :: footerfixed"></div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>