<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NOE Tourismus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" th:src="@{css/style.css}">
</head>
<body>

<!-- NAVBAR - https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="http://localhost:8080">
        <img src="images/NOE_LOGO.png" height="120" width="100" th:src="@{images/NOE_LOGO.png}" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/hotelform">Hotels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/hotellist">Hotelliste</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/occupancy">Belegung</a>
            </li>


        </ul>

    </div>
</nav>
<form style="width: 500px; margin: auto" th:action="@{/backup}" method="post">
    <p th:text="'To which Emailaddress?'"/>  <input class="form-control" type="text" th:value="*{emailaddress}"  th:name="emailaddress"/></p>

    <button type="submit" class="btn btn-primary" th:text="#{submit}"/></button>
    <button type="reset" class="btn btn-secondary" th:text="#{reset}"/></button>
</form>
<footer class="site-footer">
    <nav class="meta-nav">
        <ul>
            <li><a href="http://localhost:8080/impressum">Impressum</a></li>
            <li><a href="http://localhost:8080/datenschutz">Datenschutz</a></li>
            <li><a href="#top">Nach oben</a></li>
        </ul>
        <a style="color: white" class="navbar-brand" href="#!" th:text="#{version}"/></a>
    </nav>
</footer>
</body>
</html>