<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div th:replace="fragments/header :: header"></div>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Text must be enclosed in single quotes!!! -->
<p style="width: 500px; margin: auto" th:text="'Daten wurden erfolgreich hinzugefügt!'" />
<!--
<p style="width: 500px; margin: auto" th:text= "'Hotel name: ' + ${command.name}" />
<p th:text= "'Textarea Value: ' + ${command.owner}" />
<p th:text= "'Textarea Value: ' + ${command.category}" />
<p th:text= "'Datetime Value: ' + ${command.contact}" />
<p th:text= "'Color Value: ' + ${command.address}" />
<p th:text= "'Single Checkbox Value: ' + ${command.city}" />
<p th:text= "'Checkbox Value: ' + ${command.cityCode}" />
<p th:text= "'Dropdown Value: ' + ${command.phone}" />
<p th:text= "'Checkbox Value: ' + ${command.noRooms}" />
<p th:text= "'Dropdown Value: ' + ${command.noBeds}" />
-->
<table border="1">
    <thead>
    <tr>
        <th th:text="#{id}"></th>
        <th th:text="#{owner}"></th>
        <th th:text="#{stars}"></th>
        <th th:text="#{name}"></th>
        <th th:text="#{address}"></th>
        <th th:text="#{city}"></th>
        <th th:text="#{citycode}"></th>
        <th th:text="#{phone}"></th>
        <th th:text="#{contact}"></th>
        <th th:text="#{numberofrooms}"></th>
        <th th:text="#{numberofbeds}"></th>
        <th th:text="#{url}"></th>
        <th th:text="#{familyfriendly}"></th>
        <th th:text="#{dogfriendly}"></th>
        <th th:text="#{spa}"></th>
        <th th:text="#{fitness}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td th:text="${command.id}"></td>
    <td th:text="${command.owner}"></td>
    <td th:text="${command.category}">Stars</td>
    <td th:text="${command.name}"></td>
    <td th:text="${command.address}"></td>
    <td th:text="${command.city}"></td>
    <td th:text="${command.cityCode}"></td>
    <td th:text="${command.phone}"></td>
    <td th:text="${command.contact}"></td>
    <td th:text="${command.noRooms}"></td>
    <td th:text="${command.noBeds}"></td>
    <td th:text="${command.url}"></td>
    <td th:text="${command.familyFriendly} ? #{yes} : #{no}"></td>
    <td th:text="${command.dogFriendly} ? #{yes} : #{no}"></td>
    <td th:text="${command.spa} ? #{yes} : #{no}"></td>
    <td th:text="${command.fitness} ? #{yes} : #{no}"></td>
    </tr>
    </tbody>
</table>

<!-- ORGINAL = PAGINATION untereinander
<div th:if="${hotelPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/index(size=${hotelPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==hotelPage.number} ? active"></a>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination" th:if="${hotelPage.totalPages > 0}">
        <a class="page-item" th:each="pageNumber : ${pageNumbers}">
            <a class="page-link" th:href="@{/index(size=${hotelPage.size}, page=${pageNumber})}"
            <a th:text=${pageNumber} </a> </a>
        <a th:class="${pageNumber==hotelPage.number} ? active"></a></li>
    </ul>
</nav>
-->

<!-- PAGINATION
<br>
<nav aria-label="Pagination" th:if="${hotelPage.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-bold">
        <li class="page-item" th:classappend="${hotelPage.number eq 0} ? 'disabled'">
            <a class="page-link"
               th:href="@{/index?page={id}(id=${hotelPage.number lt 2 ? 1 : hotelPage.number})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq hotelPage.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( 1, hotelPage.totalPages, 1)}">
            <a class="page-link" th:href="@{/index?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
        </li>
        <li class="page-item" th:classappend="${hotelPage.number + 1 eq hotelPage.totalPages} ? 'disabled'">
            <a class="page-link"
               th:href="@{/index?page={id}(id=${hotelPage.number + 2})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
-->

<button type="button" class="btn">
    <a href="http://localhost:8080/backup" class="btn btn-primary" role="button"
       aria-pressed="true">Backup</a>
</button>

<button type="button" class="btn">
<a href="http://localhost:8080/hotelform" class="btn btn-primary" role="button"
   aria-pressed="true">Hotels hinzufügen</a>
</button>

<div th:replace="fragments/footer :: footerfixed"></div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
