<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new Hotel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdNOE_LOGO.pngnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<!-- NAVBAR - https://getbootstrap.com/docs/4.0/components/navbar/ -->

 <nav class="navbar navbar-expand-xl navbar-light">
    <a class="navbar-brand" href="http://localhost:8080">
        <img src="../static/images/NOE_LOGO.png" height="120" width="100" th:src="@{images/NOE_LOGO.png}" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/index">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/hotelform">Hotels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/hotellist">Hotelliste</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/occupancy">Belegung</a>
            </li>

            <!-- LANGUAGE
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</a>
                <div class="dropdown-menu" aria-labelledby="dropdown09">
                    <a class="dropdown-item" href="#fr"><span class="flag-icon flag-icon-fr"> </span>  French</a>
                    <a class="dropdown-item" href="#it"><span class="flag-icon flag-icon-it"> </span>  Italian</a>
                    <a class="dropdown-item" href="#ru"><span class="flag-icon flag-icon-ru"> </span>  Russian</a>
                </div>
            </li>
            -->
        </ul>
        <!--
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit">Search</button>
         -->   &nbsp;
            <a href="http://localhost:8080/help" class="btn btn-outline-info" role="button"
               aria-pressed="true">Help</a>
        </form>
    </div>
</nav>
<!-- NAVBAR - https://getbootstrap.com/docs/4.0/components/navbar/ -->

<!-- Text must be enclosed in single quotes!!! -->
<p style="width: 500px; margin: auto" th:text="#{addnewhotel}"></p>

<!-- Display a possible error text
<div  class="alert alert-warning" role="alert" th:if="${error != null }" th:text="${error}">
    <p th:text="'Error: ' + ${error}"></p>
</div> -->
<section class="container" id="alerts">
    <if th:if="${error == null }">
        <div class="alert alert-success" role="alert">
            Hotel hinzugefügt!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
    </if>
    <if th:if="${error != null }">
        <div class="alert alert-danger" role="alert" >
            Fehler beim Hinzufügen des Hotels!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
    </if>

</section>

<!-- Form Controls -  https://getbootstrap.com/docs/5.0/forms/form-control/ -->
<form style="width: 400px; margin: auto" th:action="@{/hotelform}" th:object="${command}" method="post">
    <p th:text="#{hotelname}+ ':'"/> <input class="form-control" type="text" placeholder="Name" th:field="*{name}" /></p>
    <p th:text="#{category}+ ':'"/> <input class="form-control" type="number" placeholder="Sterne" th:field="*{category}" /></p>
    <p th:text="#{owner}+ ':'"/> <input class="form-control" type="text" placeholder="e.g. Mika Muster" th:field="*{owner}" /></p>
    <p th:text="#{contact}+ ':'"/> <input class="form-control" type="text" placeholder="e.g. Elia Somebody" th:field="*{contact}" /></p>
    <p th:text="#{address}+ ':'"/> <input class="form-control" type="text" placeholder="Adresse" th:field="*{address}" /></p>
    <p th:text="#{city}+ ':'"/> <input class="form-control" type="text" placeholder="Stadt" th:field="*{city}" /></p>
    <!-- Beware : The field name is case sensitive!!! It has to be named exactly as it is in the class!!! -->
    <p th:text="#{citycode}+':'"/> <input class="form-control" type="text" placeholder="PLZ" th:field="*{cityCode}" /></p>
    <p th:text="#{phone}+':'"/> <input class="form-control" type="text" placeholder="Telefon" th:field="*{phone}" /></p>
    <!-- The same with the room and bed count! Try to change noRooms to rooms and you will see that IntelliJ underlines the
    // name. This is an indication that something is wrong-->

    <p th:text="#{url}+ ':'"/> <input class="form-control" type="url" placeholder="URL" th:field="*{url}"/></p>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <p th:text="#{numberofrooms}+ ':'"/> <input class="form-control" type="number" placeholder="0 Zimmer"  th:field="*{noRooms}"/> </p>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <p th:text="#{numberofbeds}+ ':'"/> <input class="form-control" type="number" placeholder="0 Betten"  th:field="*{noBeds}"/> </p>
            </div>
        </div>
    </div>

    <p th:text="#{features}+ ':'"/> </p>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <div>
                    <input type="checkbox" id="familyFriendly" name="familyFriendly">
                    <label for="familyFriendly" th:field="*{familyFriendly}"> family-friendly  <!--th:text="#{familyfriendly}"/> --> </label>
                </div>

                <div>
                    <input type="checkbox" id="dogFriendly" name="dogFriendly">
                    <label for="dogFriendly" th:field="*{dogFriendly}"> dog-friendly <!-- <th:text="#{dogfriendly}"/> --> </label>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div>
                    <input type="checkbox" id="spa" name="spa">
                    <label for="spa" th:field="*{spa}"> Spa <!-- th:text="#{spa}"/> --> </label>
                </div>

                <div>
                    <input type="checkbox" id="fitness" name="fitness">
                    <label for="fitness" th:field="*{fitness}"> Fitness <!--th:text="#{fitness}"/> --> </label>
                </div>
            </div>
        </div>
    </div>

    <button>
        <a href="http://localhost:8080/hotellist" class="btn btn-outline-info" role="button"
           aria-pressed="true">Submit
        </a>
    </button>

    <button>
        <a href="http://localhost:8080/hotelform" class="btn btn-outline-info" role="button"
           aria-pressed="true">Reset
        </a>
    </button>
<br>
<br>
<br>

</form>

<footer class="site-footer">
    <nav class="meta-nav">
        <ul>
            <li><a href="http://localhost:8080/impressum">Impressum</a></li>
            <li><a href="http://localhost:8080/datenschutz">Datenschutz</a></li>
            <li><a href="#top">Nach oben</a></li>
        </ul>
    </nav>
</footer>

<!----
<nav class="navbar fixed-bottom navbar-light bg-light">
    <a style="color: black" class="navbar-brand" href="#!" th:text="#{version}"/></a>
</nav> --->

</body>
</html>