<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header"></div>

<body>

div th:replace="fragments/navbar :: navbar"></div>

<!-- Text must be enclosed in single quotes!!! -->
<p style="width: 500px; margin: auto" th:text="'The data was sumbitted successful!'" />
<!--
<p style="width: 500px; margin: auto" th:text= "'Hotel name: ' + ${command.name}" />
<p th:text= "'Textarea Value: ' + ${command.owner}" />
<p th:text= "'Textarea Value: ' + ${command.category}" />
<p th:text= "'Datetime Value: ' + ${command.contact}" />
<p th:text= "'Color Value: ' + ${command.address}" />
<p th:text= "'Single Checkbox Value: ' + ${command.city}" />
<p th:text= "'Checkbox Value: ' + ${command.cityCode}" />
<p th:text= "'Dropdown Value: ' + ${command.phone}" />
<p th:text= "'Checkbox Value: ' + ${command.noRooms}" />
<p th:text= "'Dropdown Value: ' + ${command.noBeds}" />
-->
<table border="1">
    <thead>
    <tr>
        <th th:text="#{id}"></th>
        <th th:text="#{owner}"></th>
        <th th:text="#{category}"></th>
        <th th:text="#{name}"></th>
        <th th:text="#{address}"></th>
        <th th:text="#{city}"></th>
        <th th:text="#{citycode}"></th>
        <th th:text="#{phone}"></th>
        <th th:text="#{contact}"></th>
        <th th:text="#{numberofrooms}"></th>
        <th th:text="#{numberofbeds}"></th>
        <th th:text="#{url}"></th>
        <th th:text="#{familyfriendly}"></th>
        <th th:text="#{dogfriendly}"></th>
        <th th:text="#{spa}"></th>
        <th th:text="#{fitness}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td th:text="${command.id}"></td>
    <td th:text="${command.owner}"></td>
    <td th:text="${command.category}"></td>
    <td th:text="${command.name}"></td>
    <td th:text="${command.address}"></td>
    <td th:text="${command.city}"></td>
    <td th:text="${command.cityCode}"></td>
    <td th:text="${command.phone}"></td>
    <td th:text="${command.contact}"></td>
    <td th:text="${command.noRooms}"></td>
    <td th:text="${command.noBeds}"></td>
    <td th:text="${command.url}"></td>
    <td th:text="${command.familyFriendly} ? #{yes} : #{no}"></td>
    <td th:text="${command.dogFriendly} ? #{yes} : #{no}"></td>
    <td th:text="${command.spa} ? #{yes} : #{no}"></td>
    <td th:text="${command.fitness} ? #{yes} : #{no}"></td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/footer :: footerfixed"></div>

</body>
</html>
