<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<div th:replace="fragments/header :: header"></div>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Text must be enclosed in single quotes!!! -->
<p style="width: 500px; margin: auto" th:text="#{addnewhotel}"></p>

<!-- Display a possible error text -->
<div  class="alert alert-warning" role="alert" th:if="${error != null }" th:text="${error}">
    <p th:text="'Error: ' + ${error}"></p>
</div>

<section class="container" id="alerts">
    <!--- <if th:if="${error == null }">
        <div class="alert alert-success" role="alert">
            Hotel hinzugefügt!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
    </if> ---->
    <if th:if="${error != null }">
        <div class="alert alert-danger" role="alert" >
            Fehler beim Hinzufügen des Hotels!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
    </if>

</section>

<!-- Form Controls -  https://getbootstrap.com/docs/5.0/forms/form-control/ -->
<form style="width: 400px; margin: auto" th:action="@{/hotelform}" th:object="${command}" method="post">
    <p th:text="#{hotelname}+ ':'"/> <input class="form-control" type="text" placeholder="Name" th:field="*{name}"/></p>
    <!--
    <p th:text="#{owner}+ ':'"/> <input class="form-control" type="text" placeholder="e.g. Mika Muster" th:field="*{owner}"/></p>
    -->

    <label for="exampleFormControlSelect1" > Sterne </label>
    <select class="form-control" id="exampleFormControlSelect1"  th:name="tempCategory">
        <option >*</option>
        <option >**</option>
        <option >***</option>
        <option >****</option>
        <option >*****</option>
    </select></p>

    <p th:text="#{contact}+ ':'"/> <input class="form-control" type="text" placeholder="e.g. Elia Somebody" th:field="*{contact}"/></p>
    <p th:text="#{address}+ ':'"/> <input class="form-control" type="text" placeholder="Adresse" th:field="*{address}"/></p>
    <p th:text="#{city}+ ':'"/> <input class="form-control" type="text" placeholder="Stadt" th:field="*{city}"/></p>
    <!-- Beware : The field name is case sensitive!!! It has to be named exactly as it is in the class!!! -->
    <p th:text="#{citycode}+':'"/> <input class="form-control" type="text" placeholder="PLZ" th:field="*{cityCode}"/></p>
    <p th:text="#{phone}+':'"/> <input class="form-control" type="text" placeholder="Telefon" th:field="*{phone}"/></p>
    <!-- The same with the room and bed count! Try to change noRooms to rooms and you will see that IntelliJ underlines the
    // name. This is an indication that something is wrong-->

    <p th:text="#{url}+ ':'"/> <input class="form-control" type="url" placeholder="URL" th:field="*{url}"/></p>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <p th:text="#{numberofrooms}+ ':'"/> <input class="form-control" type="number" placeholder="0 Zimmer" min="0"  th:field="*{noRooms}"/></p>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <p th:text="#{numberofbeds}+ ':'"/> <input class="form-control" type="number" placeholder="0 Betten" min="0"  th:field="*{noBeds}"/></p>
            </div>
        </div>
    </div>

    <p th:text="#{features}+ ':'"/> </p>
    <div class="row" >
        <div class="col">
            <div class="form-group">
                <div>
                    <input type="checkbox" id="familyFriendly" name="familyFriendly">
                    <label for="familyFriendly" th:field="*{familyFriendly}" th:text="#{familyfriendly}"/></label>
                </div>

                <div>
                    <input type="checkbox" id="dogFriendly" name="dogFriendly">
                    <label for="dogFriendly" th:field="*{dogFriendly}" th:text="#{dogfriendly}"/></label>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div>
                    <input type="checkbox" id="spa" name="spa">
                    <label for="spa" th:field="*{spa}" th:text="#{spa}"/></label>
                </div>

                <div>
                    <input type="checkbox" id="fitness" name="fitness">
                    <label for="fitness" th:field="*{fitness}" th:text="#{fitness}"/></label>
                </div>
            </div>
        </div>
    </div>

    <button>
        <a href="http://localhost:8080/hotelresult" class="btn btn-primary"
           aria-pressed="true" th:text="#{submit}"/>
        </a>
    </button>

    <button>
        <a href="http://localhost:8080/hotelform" class="btn btn-secondary"
           aria-pressed="true" th:text="#{reset}"/>
        </a>
    </button>
<br>

</form>

<div th:replace="fragments/footer :: footerfixed"></div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>