<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NOE Tourismus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<!-- NAVBAR - https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="http://localhost:8080">
        <img src="images/NOE_LOGO.png" height="120" width="100" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/index">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/hotelform">Hotels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/hotellist">Hotelliste</a>
            </li>

        </ul>
    </div>
</nav>
<!-- NAVBAR - https://getbootstrap.com/docs/4.0/components/navbar/ -->
<!---
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Contact</th>
        <th>URL</th>
        <th>Family-Friendly</th>
        <th>Dog-Friendly</th>
        <th>Spa</th>
        <th>Fitness</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel, iStat : ${hotelPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${hotel.id}"></td>
        <td th:text="${hotel.name}"></td>
        <td th:text="${hotel.address}"></td>
        <td th:text="${hotel.city}"></td>
        <td th:text="${hotel.contact}"></td>
        <td th:text="${hotel.url}"></td>
        <td th:text="${hotel.familyFriendly}"></td>
        <td th:text="${hotel.dogFriendly}"></td>
        <td th:text="${hotel.spa}"></td>
        <td th:text="${hotel.fitness}"></td>
    </tr>
    </tbody>
</table> --->
<div th:if="${hotelPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/index(size=${hotelPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==hotelPage.number} ? active"></a>
</div>

<footer class="site-footer">
    <nav class="meta-nav">
        <ul>
            <li><a href="impressum.html">Impressum</a></li>
            <li><a href="datebschutz.html">Datenschutz</a></li>
            <li><a href="#top">Nach oben</a></li>
        </ul>
    </nav>
</footer>




</body>
</html>