<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments/header :: header"></div>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main class="site-content" id="content">
    <h4>Willkommen auf unserer Seite</h4>
    <h5>Unsere Hotel Datenbank enthält ausschließlich aktuelle und relevante Daten </h5>

    <!--- Inhalt der Seite --->
</main>
<figure>
    <img src="images/hotel1.png"
         alt="Bild"
         width="800"
         height="400">
    <figcaption></figcaption>
</figure>

<div th:replace="fragments/footer :: footerfixed"></div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>