<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div th:replace="fragments/header :: header"></div>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<table border="1">
    <thead>
    <tr>
        <th>Hotel Name</th>
        <th>Zimmer</th>
        <th>Zimmerauslastung</th>
        <th>Betten</th>
        <th>Bettenauslastung</th>
        <th>Monat</th>
        <th>Jahr</th>
        <th>Ändern</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="occupancy, iStat : ${occupanciesPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${occupancy.hotel.name}"></td>
        <td th:text="${occupancy.roomCount}"></td>
        <td th:text="${occupancy.roomUtilization}"></td>
        <td th:text="${occupancy.bedCount}"></td>
        <td th:text="${occupancy.bedUtilization}"></td>
        <td th:text="${occupancy.month}"></td>
        <td th:text="${occupancy.year}"></td>
        <td>
            <button type="button" class="btn btn-primary" th:text="Ändern"/></button>
        </td>
    </tr>
    </tbody>
</table>

<nav class="nav justify-content-center" aria-label="Pagination" th:if="${occupanciesPage.totalPages gt 0}"
     alignment="center">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${occupanciesPage.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/occupancy/{id}?page={pageNumber}(id=${hotelId}, pageNumber=1)}"
               aria-label="First"
               title="First Page" rel="tooltip" th:text="First">
            </a>
        </li>
        <li class="page-item" th:classappend="${occupanciesPage.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/occupancy/{id}?page={pageNumber}(id=${hotelId}, pageNumber=${occupanciesPage.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip" th:text="Previous">
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq occupanciesPage.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence(1, occupanciesPage.totalPages, 1)}">
            <a class="page-link" th:href="@{/occupancy/{id}?page={pageNumber}(id=${hotelId}, pageNumber=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item" th:classappend="${occupanciesPage.number + 1 eq occupanciesPage.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/occupancy/{id}?page={pageNumber}(id=${hotelId}, pageNumber=${occupanciesPage.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip" th:text="Next">
            </a>
        </li>
        <li class="page-item" th:classappend="${occupanciesPage.number + 1 eq occupanciesPage.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/occupancy/{id}?page={pageNumber}(id=${hotelId}, pageNumber=${occupanciesPage.totalPages})}"
               aria-label="Next"
               title="Next Page" rel="tooltip" th:text="Last">
            </a>
        </li>
    </ul>
</nav>

<button type="button" class="btn">
    <a href="http://localhost:8080/hotelliste" class="btn btn-primary" role="button"
       aria-pressed="true">Hotelliste</a>
</button>

<div th:replace="fragments/footer :: footerfixed"></div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>