<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments/header :: header"></div>

<body>

<div th:replace="fragments/navbar :: navbar"></div>
<!---
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Kategorie</th>
        <th>Zimmer</th>
        <th>Zimmerauslastung</th>
        <th>Betten</th>
        <th>Bettenauslastung</th>
        <th>Bearbeiten</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel, iStat : ${hotelPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${occupancy.id}"></td>
        <td th:text="${occupancy.rooCount}"></td>
        <td th:text="${occupancy.roomUtilization}"></td>
        <td th:text="${occupancy.bedCount}"></td>
        <td th:text="${occupancy.bedUtilization}"></td>
        <td th:text="${hotel.edit}"></td>

    </tr>
    </tbody>
</table> --->

<div th:replace="fragments/footer :: footerfixed"></div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>